@keyframes move {
    from{ transform: translateX(0px); }
    50% {transform: scale(2) translateX(300px);}
    to{ transform:   translateX(1000px); }
}
#menu {
    animation: move;
    animation-duration: 30s;
    
}

@keyframes rotate {
    from{ transform:rotate(0deg);}
    to{transform:rotate(360deg);}
} 
#search {
    animation: rotate;
    animation-duration: 30s;
}   

@keyframes down {
    from{ transform:translateY(0px); }
    50% {transform: scale(5) translateY(300px);}
    to{ transform: translateY(1000px); }
}
#settings {
    animation: down;
    animation-duration: 30s;
}


