@keyframes move {
    from{ transform: translateX(0px); }
    50% {transform: scale(2) translateX(300px);}http://127.0.0.1:3000/menu_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.svg
    to{ transform:   translateX(1000px); }
}


#menu {
    animation: move;
    animation-duration: 30s;
    
}




