@keyframes move {
    from{ transform: translateX(0px); }
    50% {transform: scale(2) translateX(300px);}
    to{ transform:   translateX(1000px); }
}


#menu {
    animation: move;
    animation-duration: 30s;
    
}




